<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <title>活动列表</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./styles/layout.css">
    <link rel="stylesheet" href="./element-ui/index.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="container flex-row">
        <div>
            <left-menu active-menu="4-1" :default-menu="defaultMenu" :is-collapse="isCollapse"/>
        </div>
        <div class="content" :class="{closeMenu:isCollapse}">
            <div>
                <top-menu :is-collapse="isCollapse" :default-avatar="defaultAvatar" @change-collapse="changeCollapse"/>
            </div>
            <div class="main-content">
                <div class="table-wrap">
                    <div class="table-top flex-row flex-center flex-start flex-s-b">
                        <div class="left flex-row flex-center flex-start flex-no-wrap">
                            <div class="flex-row flex-center flex-start flex-no-wrap">
                                <el-select style="width: 120px" size="small" v-model="shopType" placeholder="按活动名称"
                                           clearable>
                                    <el-option
                                            v-for="item in options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                                <el-input style="width: 120px;margin: 0 10px" size="small" v-model="shopName"
                                          placeholder="按商户名"/>
                                <el-select style="width: 120px" size="small" v-model="shopType" placeholder="按活动方式"
                                           clearable>
                                    <el-option
                                            v-for="item in options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <el-button size="small" type="warning">按默认排序</el-button>
                            <el-button size="small" type="warning">按剩余点数</el-button>
                            <el-button size="small" type="warning">按AI剩余次数</el-button>
                            <el-button size="small" type="warning">搜索</el-button>
                        </div>
                        <div class="right flex-row flex-center flex-start">
                            <el-button size="small" @click="openDia(1)" type="primary">
                                <el-link :underline="false">+ 添加抖音活动</el-link>
                            </el-button>
                            <el-button size="small" @click="openDia(2)" type="primary">
                                <el-link :underline="false">+ 添加快手活动</el-link>
                            </el-button>
                            <el-button size="small" @click="openDia(3)" type="primary">
                                <el-link :underline="false">+ 添加视频号活动</el-link>
                            </el-button>
                        </div>
                    </div>
                    <div class="table-content">
                        <el-table :data="tableData">
                            <el-table-column prop="date" label="活动ID">
                            </el-table-column>
                            <el-table-column prop="name" label="商户名称">
                            </el-table-column>
                            <el-table-column prop="phone" label="活动名称">
                            </el-table-column>
                            <el-table-column label="视频已使用/剩余">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.count }}/{{ scope.row.phone }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="点数已使用/剩余">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.count }}/{{ scope.row.phone }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column prop="aiCount" label="活动类型">
                            </el-table-column>
                            <el-table-column prop="phone" label="活动周期">
                            </el-table-column>
                            <el-table-column label="关联硬件">
                                <template slot-scope="scope">
                                    <el-switch v-model="scope.row.status"/>
                                </template>
                            </el-table-column>
                            <el-table-column label="状态">
                                <template slot-scope="scope">
                                    <el-switch v-model="scope.row.status"/>
                                </template>
                            </el-table-column>
                            <el-table-column label="数据">
                                <template slot-scope="scope">
                                    <i class="el-icon-s-data" style="font-size: 20px"></i>
                                </template>
                            </el-table-column>
                            <el-table-column label="操作" width="120">
                                <template slot-scope="scope">
                                    <div class="flex-row flex-center flex-start flex-no-wrap">
                                        <el-dropdown split-button type="primary" size="mini"
                                                     @command="(command)=>{clickMenu(command,scope.row)}">
                                            更多
                                            <el-dropdown-menu slot="dropdown">
                                                <el-dropdown-item>复制活动ID</el-dropdown-item>
                                                <el-dropdown-item>视频库查看</el-dropdown-item>
                                                <el-dropdown-item>我的卡券二维码</el-dropdown-item>
                                                <el-dropdown-item>充值点数</el-dropdown-item>
                                                <el-dropdown-item>复制活动</el-dropdown-item>
                                                <el-dropdown-item>原AI配置</el-dropdown-item>
                                                <el-dropdown-item>抖音小程序</el-dropdown-item>
                                                <el-dropdown-item>微信小程序</el-dropdown-item>
                                                <el-dropdown-item>活动定位和跳转</el-dropdown-item>
                                                <el-dropdown-item>数据统计</el-dropdown-item>
                                                <el-dropdown-item>删除</el-dropdown-item>
                                                <el-dropdown-item>活动编辑</el-dropdown-item>
                                                <el-dropdown-item>活动介绍</el-dropdown-item>
                                                <el-dropdown-item>页面配置</el-dropdown-item>
                                                <el-dropdown-item>接口权限</el-dropdown-item>
                                                <el-dropdown-item>延时推送设置</el-dropdown-item>
                                                <el-dropdown-item>卡券选择</el-dropdown-item>
                                                <el-dropdown-item>我的卡券二维码</el-dropdown-item>
                                                <el-dropdown-item>抽奖设置</el-dropdown-item>
                                                <el-dropdown-item>中奖记录</el-dropdown-item>
                                            </el-dropdown-menu>
                                        </el-dropdown>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="二维码">
                                <template slot-scope="scope">
                                    <i class="el-icon-link pointer" style="font-size: 20px" @click="qrcordDia = true"></i>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
                <page-info :is-collapse="isCollapse"/>
            </div>
        </div>
        <el-dialog title="添加活动" :visible.sync="addActivityDia" width="500px"
                   :before-close="handleClose">
            <el-form inline label-width="90px" label-position="right">
                <el-form-item label="活动名称:">
                    <el-input size="small" v-model="form.key" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="绑定商户:">
                    <el-input size="small" v-model="form.secret" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="推送频率:">
                    <el-input size="small" v-model="form.url" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="投放点数:">
                    <el-input size="small" v-model="form.time" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="有效期限:">
                    <el-input size="small" v-model="form.time" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="选择模式:">
                    <el-select style="width: 300px" size="small" v-model="cardModel" placeholder="卡券模式"
                               clearable>
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div class="button-wrap">
                <el-button size="small" type="primary" @click="handleClose">确认添加</el-button>
            </div>
        </el-dialog>
        <el-dialog title="二维码弹窗" :visible.sync="qrcordDia" width="500px"
                   :before-close="handleCloseQr">
            <img src="./images/qrcode.png" alt="" style="display: block;width: 300px;height: 300px;margin: 0 auto">
            <div class="button-wrap">
                <el-button size="small" type="primary" @click="handleCloseQr">关闭弹窗</el-button>
            </div>
        </el-dialog>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./common/static.js" type="text/javascript"></script>
<script src="./components/openPlat.js"></script>
<script src="./components/leftMenu.js"></script>
<script src="./components/topMenu.js"></script>
<script src="./components/pageInfo.js"></script>
<script type="module">
    new Vue({
        el: '#app',
        data: vm => ({
            isCollapse: false,
            defaultMenu: defaultMenu,
            defaultAvatar: defaultAvatar,
            shopType: '',
            options: [
                {
                    value: '选项1',
                    label: '黄金糕',
                },
            ],
            shopName: '',
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                phone: '13111112222',
                count: 11,
                status: true,
                aiCount: 1000,
                ai: true,
                shop: true,
                activity: true,
                card: true,
                gift: true,
                disableShop: true,
            }],
            addActivityDia: false,
            form: {},
            acType: '',
            cardModel: '',
            qrcordDia: false,
        }),
        created() {
            this.isCollapse = document.body.clientWidth <= 1200
            window.addEventListener('resize', () => {
                this.isCollapse = document.body.clientWidth <= 1200
            })
        },
        methods: {
            changeCollapse(isCollapse) {
                this.isCollapse = isCollapse
            },
            clickMenu(val, item) {
                this.chooseShop = item
                switch (val) {
                    case 'addAI':
                        this.AiDia = true
                        break
                    case 'addCount':
                        this.countDia = true
                        break
                    case 'platType':
                        this.platTypeDia = true
                        break
                }
            },
            handleClose() {
                this.addActivityDia = false
            },
            handleCloseQr() {
                this.qrcordDia = false
            },
            openDia(index) {
                this.acType = index
                this.addActivityDia = true
            },
        },
    })
</script>
</html>