<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <title>活动列表</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./styles/layout.css">
    <link rel="stylesheet" href="./element-ui/index.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="container flex-row">
        <div>
            <left-menu active-menu="4-1" :default-menu="defaultMenu" :is-collapse="isCollapse"/>
        </div>
        <div class="content" :class="{closeMenu:isCollapse}">
            <div>
                <top-menu :is-collapse="isCollapse" :default-avatar="defaultAvatar" @change-collapse="changeCollapse"/>
            </div>
            <div class="main-content">
                <div class="table-wrap">
                    <div class="table-top flex-row flex-center flex-start flex-s-b">
                        <div class="left flex-row flex-center flex-start flex-no-wrap">
                            <div class="flex-row flex-center flex-start flex-no-wrap">
                                <el-select style="width: 120px" size="small" v-model="shopType" placeholder="按活动名称"
                                           clearable>
                                    <el-option
                                            v-for="item in options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                                <el-input style="width: 120px;margin: 0 10px" v-model="shopName"
                                          placeholder="按商户名"/>
                                <el-select style="width: 120px" v-model="shopType" placeholder="按活动方式"
                                           clearable>
                                    <el-option
                                            v-for="item in options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <el-button>按默认排序</el-button>
                            <el-button>按剩余点数</el-button>
                            <el-button>按AI剩余次数</el-button>
                            <el-button>搜索</el-button>
                        </div>
                        <div class="right flex-row flex-center flex-start">
                            <el-button @click="openDia(1)" type="primary">
                                <el-link :underline="false">+ 添加抖音活动</el-link>
                            </el-button>
                            <el-button @click="openDia(2)" type="primary">
                                <el-link :underline="false">+ 添加快手活动</el-link>
                            </el-button>
                            <el-button @click="openDia(3)" type="primary">
                                <el-link :underline="false">+ 添加视频号活动</el-link>
                            </el-button>
                        </div>
                    </div>
                    <div class="table-content">
                        <el-table :data="tableData">
                            <el-table-column prop="date" label="活动ID">
                            </el-table-column>
                            <el-table-column prop="name" label="商户名称">
                            </el-table-column>
                            <el-table-column prop="phone" label="活动名称">
                            </el-table-column>
                            <el-table-column label="视频已使用/剩余" width="125">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.count }}/{{ scope.row.phone }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="点数已使用/剩余" width="125">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.count }}/{{ scope.row.phone }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column prop="aiCount" label="活动类型">
                            </el-table-column>
                            <el-table-column prop="phone" label="活动周期">
                            </el-table-column>
                            <el-table-column label="关联硬件">
                                <template slot-scope="scope">
                                    <el-switch v-model="scope.row.status"/>
                                </template>
                            </el-table-column>
                            <el-table-column label="状态">
                                <template slot-scope="scope">
                                    <el-switch v-model="scope.row.status"/>
                                </template>
                            </el-table-column>
                            <el-table-column label="数据">
                                <template slot-scope="scope">
                                    <i class="el-icon-s-data" style="font-size: 20px"></i>
                                </template>
                            </el-table-column>
                            <el-table-column label="操作" width="120">
                                <template slot-scope="scope">
                                    <div class="flex-row flex-center flex-start flex-no-wrap">
                                        <el-dropdown type="primary" size="small"
                                                     @command="(command)=>{clickMenu(command,scope.row)}">
                                            <el-button type="primary" size="small">
                                                更多<i class="el-icon-arrow-down el-icon--right"></i>
                                            </el-button>
                                            <el-dropdown-menu slot="dropdown">
                                                <div class="flex flex-row flex-center">
                                                    <div>
                                                        <el-dropdown-item>数据统计</el-dropdown-item>
                                                        <el-dropdown-item>删除</el-dropdown-item>
                                                        <el-dropdown-item>活动编辑</el-dropdown-item>
                                                        <el-dropdown-item>活动介绍</el-dropdown-item>
                                                        <el-dropdown-item>页面配置</el-dropdown-item>
                                                        <el-dropdown-item>接口权限</el-dropdown-item>
                                                        <el-dropdown-item>延时推送设置</el-dropdown-item>
                                                        <el-dropdown-item>卡券选择</el-dropdown-item>
                                                        <el-dropdown-item>我的卡券二维码</el-dropdown-item>
                                                        <el-dropdown-item>
                                                            <el-link :underline="false" href="giftManage.html">抽奖设置
                                                            </el-link>
                                                        </el-dropdown-item>
                                                    </div>
                                                    <div>
                                                        <el-dropdown-item>复制活动ID</el-dropdown-item>
                                                        <el-dropdown-item>视频库查看</el-dropdown-item>
                                                        <el-dropdown-item>我的卡券二维码</el-dropdown-item>
                                                        <el-dropdown-item>充值点数</el-dropdown-item>
                                                        <el-dropdown-item>复制活动</el-dropdown-item>
                                                        <el-dropdown-item command="aliDia">原AI配置</el-dropdown-item>
                                                        <el-dropdown-item command="douyinDia">抖音小程序</el-dropdown-item>
                                                        <el-dropdown-item command="openMiniDia">微信小程序</el-dropdown-item>
                                                        <el-dropdown-item command="homeDia">活动定位和跳转</el-dropdown-item>
                                                        <el-dropdown-item>中奖记录</el-dropdown-item>
                                                    </div>
                                                </div>
                                            </el-dropdown-menu>
                                        </el-dropdown>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="二维码">
                                <template slot-scope="scope">
                                    <i class="el-icon-link pointer" style="font-size: 20px"
                                       @click="qrcordDia = true"></i>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
                <page-info :is-collapse="isCollapse"/>
            </div>
        </div>
        <el-dialog title="添加活动" :visible.sync="addActivityDia" width="550px"
                   :before-close="handleClose">
            <el-form inline label-width="90px" label-position="right">
                <el-form-item label="活动名称:">
                    <el-input size="small" v-model="form.key" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="绑定商户:">
                    <el-input size="small" v-model="form.secret" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="推送频率:">
                    <el-input size="small" v-model="form.url" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="投放点数:">
                    <el-input size="small" v-model="form.time" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="有效期限:">
                    <el-input size="small" v-model="form.time" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="选择模式:">
                    <el-radio-group v-model="form.timeModel" style="width:360px">
                        <el-radio :label="1">大转盘模式</el-radio>
                        <el-radio :label="2">卡券模式</el-radio>
                        <el-radio :label="3">一键发布模式</el-radio>
                    </el-radio-group>
                </el-form-item>
            </el-form>
            <div class="button-wrap">
                <el-button type="primary" @click="handleClose">确认添加</el-button>
            </div>
        </el-dialog>
        <el-dialog title="二维码弹窗" :visible.sync="qrcordDia" width="500px"
                   :before-close="handleCloseQr">
            <img src="./images/qrcode.png" alt="" style="display: block;width: 300px;height: 300px;margin: 0 auto">
            <div class="button-wrap">
                <el-button size="small" type="primary" @click="handleCloseQr">关闭弹窗</el-button>
            </div>
        </el-dialog>
        <el-dialog title="小程序配置" :visible.sync="miniProDia" width="500px"
                   :before-close="handleCloseMini">
            <el-form inline label-width="120px" label-position="right">
                <el-form-item label="小程序AppId:">
                    <el-input size="small" v-model="form2.key" style="width:300px"
                              placeholder="！重要,宁可不填不要乱填，乱填视频不发 填入微信小程序APP_ID"></el-input>
                </el-form-item>
                <el-form-item label="小程序Secret:">
                    <el-input size="small" v-model="form2.secret" style="width:300px"
                              placeholder="！重要,宁可不填不要乱填，乱填视频不发 填入微信小程序secret"></el-input>
                </el-form-item>
                <el-form-item label="小程序Pages:">
                    <el-input size="small" v-model="form2.url" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="小程序Query:">
                    <el-input size="small" v-model="form2.time" style="width:300px"></el-input>
                </el-form-item>
            </el-form>
            <div class="sub-title">
                通过scheme码进入小程序时的query，最大128个字符，只支持数字，大小写英文以及部分特殊字符：!#$&'()*+,/:;=?@-._~
            </div>
            <div class="sub-title">
                提示码：40002-暂无生成权限，40013-生成权限被封禁，85079-小程序未发布
                <el-button type="primary" size="small f-r">更多说明</el-button>
            </div>
            <div class="button-wrap" style="margin-top: 20px;">
                <el-button type="primary" @click="handleCloseMini">确认添加</el-button>
            </div>
        </el-dialog>
        <el-dialog title="小程序配置" :visible.sync="douyinDia" width="500px"
                   :before-close="handleCloseDouyin">
            <el-form inline label-width="120px" label-position="right">
                <el-form-item label="小程序AppId:">
                    <el-input size="small" v-model="form2.key" style="width:300px"
                              placeholder="！重要,宁可不填不要乱填，乱填视频不发 填入抖音小程序APP_ID"></el-input>
                </el-form-item>
                <el-form-item label="小程序标题:">
                    <el-input size="small" v-model="form2.secret" style="width:300px"
                              placeholder="！重要,宁可不填不要乱填，乱填视频不发 填入抖音小程序secret"></el-input>
                </el-form-item>
                <el-form-item label="小程序Pages:">
                    <el-input size="small" v-model="form2.url" style="width:300px"></el-input>
                </el-form-item>
            </el-form>
            <div class="sub-title">
                小程序挂载视频开通条件及注意事项：<br/>
                1、评级达到A级及以上，信用分不低于90分<br/>
                2、挂载小程序时不能挂载商家位置<br/>
                3、小程序内不包含诱导分享，收集线索，引导致电等能力<br/>
                4、若开通后，发现开发者在使用过程中，滥用此能力对用户或平台造成负面影响，平台将有权利随时对该功能进行收回，并视情况对违规的小程序进行处罚<br/>
                5、小程序绑定视频需要开通权限，未开通权限前请勿配置参数，如需帮助请联系客服。
            </div>
            <div class="button-wrap" style="margin-top: 20px;">
                <el-button type="primary" @click="handleCloseDouyin">确认添加</el-button>
            </div>
        </el-dialog>
        <el-dialog title="活动定位及跳转" :visible.sync="homeDia" width="500px"
                   :before-close="handleCloseHomeDia">
            <div class="flex flex-center flex-start" style="margin-top: 20px;">
                <el-checkbox v-model="home">
                    商家主页
                    <el-input size="small" :disabled="!home" style="margin-left: 10px;"></el-input>
                </el-checkbox>
            </div>
            <div class="flex flex-center flex-start" style="margin-top: 20px;">
                <el-checkbox v-model="address">
                    门店地址
                    <el-input size="small" :disabled="!address" style="margin-left: 10px;"></el-input>
                </el-checkbox>
            </div>
            <div class="flex flex-center flex-start" style="margin-top: 20px;">
                <el-checkbox v-model="changeUrl">
                    自定义跳转
                    <el-input size="small" :disabled="!changeUrl" style="margin-left: 10px;"></el-input>
                </el-checkbox>
            </div>
            <div class="button-wrap" style="margin-top: 20px;">
                <el-button type="primary" @click="handleCloseHomeDia">确认添加</el-button>
            </div>
        </el-dialog>
        <el-dialog title="配置腾讯阿里AI" :visible.sync="aliDia" width="500px"
                   :before-close="handleCloseAliDia">
            <el-form inline label-width="90px" label-position="right">
                <el-form-item label="标题后缀:">
                    <el-input size="small" v-model="form4.key" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="素材原声:">
                    <el-input size="small" v-model="form4.secret" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="生成规则:">
                    <el-input size="small" v-model="form4.url" style="width:150px"></el-input>
                    <el-input size="small" v-model="form4.url2" style="width:150px"></el-input>
                </el-form-item>
                <el-form-item label="生成数量:">
                    <el-input size="small" v-model="form4.time" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="生成模式:">
                    <el-input size="small" v-model="form4.time" style="width:300px"></el-input>
                </el-form-item>
            </el-form>
            <div class="button-wrap" style="margin-top: 20px;">
                <el-button type="primary" @click="handleCloseAliDia">确认添加</el-button>
            </div>
        </el-dialog>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./common/static.js" type="text/javascript"></script>
<script src="./components/openPlat.js"></script>
<script src="./components/leftMenu.js"></script>
<script src="./components/topMenu.js"></script>
<script src="./components/pageInfo.js"></script>
<script type="module">
    new Vue({
        el: '#app',
        data: vm => ({
            isCollapse: false,
            defaultMenu: defaultMenu,
            defaultAvatar: defaultAvatar,
            shopType: '',
            options: [
                {
                    value: '选项1',
                    label: '黄金糕',
                },
            ],
            shopName: '',
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                phone: '1311111',
                count: 11,
                status: true,
                aiCount: 1000,
                ai: true,
                shop: true,
                activity: true,
                card: true,
                gift: true,
                disableShop: true,
            }],
            addActivityDia: false,
            form: {},
            form2: {},
            form3: {},
            form4: {},
            acType: '',
            cardModel: '',
            qrcordDia: false,
            miniProDia: false,
            douyinDia: false,
            aliDia: false,
            homeDia: false,
            home: '',
            address: '',
            changeUrl: '',
        }),
        created() {
            this.isCollapse = document.body.clientWidth <= 1200
            window.addEventListener('resize', () => {
                this.isCollapse = document.body.clientWidth <= 1200
            })
        },
        methods: {
            changeCollapse(isCollapse) {
                this.isCollapse = isCollapse
            },
            clickMenu(val, item) {
                this.chooseShop = item
                switch (val) {
                    case 'addAI':
                        this.AiDia = true
                        break
                    case 'addCount':
                        this.countDia = true
                        break
                    case 'platType':
                        this.platTypeDia = true
                        break
                    case 'openMiniDia':
                        this.miniProDia = true
                        break
                    case 'douyinDia':
                        this.douyinDia = true
                        break
                    case 'homeDia':
                        this.homeDia = true
                        break
                    case 'aliDia':
                        this.aliDia = true
                        break
                }
            },
            handleClose() {
                this.addActivityDia = false
            },
            handleCloseQr() {
                this.qrcordDia = false
            },
            openDia(index) {
                this.acType = index
                this.addActivityDia = true
            },
            handleCloseMini() {
                this.miniProDia = false
            },
            handleCloseDouyin() {
                this.douyinDia = false
            },
            handleCloseHomeDia() {
                this.homeDia = false
            },
            handleCloseAliDia() {
                this.aliDia = false
            },
        },
    })
</script>
</html>