<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <title>添加分类及商户</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./styles/layout.css">
    <link rel="stylesheet" href="./element-ui/index.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="container flex-row">
        <div>
            <left-menu active-menu="2-2" :default-menu="defaultMenu" :is-collapse="isCollapse"/>
        </div>
        <div class="content" :class="{closeMenu:isCollapse}">
            <div>
                <top-menu :is-collapse="isCollapse" :default-avatar="defaultAvatar" @change-collapse="changeCollapse"/>
            </div>
            <div class="main-content">
                <div class="table-wrap">
                    <div class="table-top flex-row flex-center flex-start">
                        <el-button type="primary" :disabled="step===2" @click="addTypeDia=true">+ 添加分类
                        </el-button>
                        <el-button type="primary" :disabled="step===1">+ 添加商户</el-button>
                    </div>
                    <div class="table-content">
                        <el-table :data="tableData" v-if="step===1">
                            <el-table-column prop="date" label="分类ID">
                            </el-table-column>
                            <el-table-column prop="name" label="分类名称">
                            </el-table-column>
                            <el-table-column prop="phone" label="创建时间">
                            </el-table-column>
                            <el-table-column label="操作" width="200">
                                <template slot-scope="scope">
                                    <el-button type="primary">编辑</el-button>
                                    <el-button type="danger">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-form class="open-plat-wrap" inline label-width="120px" label-position="right" v-else>
                            <el-form-item label="商户名称:">
                                <el-input size="small" v-model="form.key" style="width:300px"></el-input>
                            </el-form-item>
                            <el-form-item label="单次提交次数:">
                                <el-input size="small" v-model="form.secret" style="width:300px"></el-input>
                            </el-form-item>
                            <el-form-item label="默认账号:">
                                <el-input size="small" v-model="form.url" style="width:300px"></el-input>
                            </el-form-item>
                            <el-form-item label="创建活动数:">
                                <el-input size="small" v-model="form.time" style="width:300px"></el-input>
                            </el-form-item>
                            <el-form-item label="登录密码:">
                                <el-input size="small" v-model="form.password" style="width:300px"></el-input>
                            </el-form-item>
                            <el-form-item label="活动最低点数:">
                                <el-input size="small" v-model="form.password" style="width:300px"></el-input>
                            </el-form-item>
                            <el-form-item label="选择分类:">
                                <el-input size="small" v-model="form.password" style="width:300px"></el-input>
                            </el-form-item>
                            <el-form-item label="商家有效期:">
                                <el-input size="small" v-model="form.password" style="width:300px"></el-input>
                            </el-form-item>
                            <el-form-item label="代理:">
                                <el-input size="small" v-model="form.password" style="width:150px"></el-input>
                                <el-input size="small" v-model="form.password" style="width:150px"></el-input>
                            </el-form-item>
                            <el-form-item label="核销人员:">
                                <el-input size="small" v-model="form.password" style="width:300px"></el-input>
                            </el-form-item>
                            <el-form-item label="代理范围:">
                                <el-input size="small" v-model="form.password" style="width:150px"></el-input>
                                <el-input size="small" v-model="form.password" style="width:150px"></el-input>
                            </el-form-item>
                            <el-form-item label="核销码:">
                                <el-input size="small" v-model="form.password" style="width:300px"></el-input>
                            </el-form-item>
                            <el-form-item label="联系电话:">
                                <el-input size="small" v-model="form.password" style="width:300px"></el-input>
                            </el-form-item>
                            <el-form-item label="核销方式:">
                                <el-radio-group v-model="form.timeModel" style="width:300px">
                                    <el-radio :label="1">微信</el-radio>
                                    <el-radio :label="2">抖音</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="地址:">
                                <el-input size="small" v-model="form.password" style="width:300px"></el-input>
                            </el-form-item>
                            <el-upload
                                    class="avatar-uploader"
                                    action="https://jsonplaceholder.typicode.com/posts/"
                                    :show-file-list="false"
                                    :on-success="handleAvatarSuccess"
                                    :before-upload="beforeAvatarUpload">
                                <img alt="" v-if="imageUrl" :src="imageUrl" class="avatar">
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </el-form>
                    </div>
                </div>
<!--                <div class="button-wrap text-right">-->
<!--                    <el-button type="primary" v-if="step===1" size="small">-->
<!--                        <el-link href="myShop.html" :underline="false">返回我的商户</el-link>-->
<!--                    </el-button>-->
<!--                    <el-button type="primary" v-if="step===1" size="small" @click="step=2">添加商户</el-button>-->
<!--                    <el-button type="primary" v-else size="small" @click="step=2">下一步</el-button>-->
<!--                </div>-->
                <page-info :is-collapse="isCollapse"/>
            </div>
            <el-dialog title="添加分类" :visible.sync="addTypeDia" width="30%"
                       :before-close="handleClose">
                <el-input v-model="typeInp"></el-input>
                <div class="button-wrap">
                    <el-button size="small" @click="handleClose">取 消</el-button>
                    <el-button size="small" type="primary" @click="handleClose">确 定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./common/static.js" type="text/javascript"></script>
<script src="./components/openPlat.js"></script>
<script src="./components/leftMenu.js"></script>
<script src="./components/topMenu.js"></script>
<script src="./components/pageInfo.js"></script>
<script type="module">
    new Vue({
        el: '#app',
        data: vm => ({
            isCollapse: false,
            defaultMenu: defaultMenu,
            defaultAvatar: defaultAvatar,
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                phone: '13111112222',
                status: true,
            }],
            step: 1,
            addTypeDia: false,
            typeInp: '',
            form: {},
            imageUrl: '',
        }),
        created() {
            this.isCollapse = document.body.clientWidth <= 1200
            window.addEventListener('resize', () => {
                this.isCollapse = document.body.clientWidth <= 1200
            })
        },
        methods: {
            changeCollapse(isCollapse) {
                this.isCollapse = isCollapse
            },
            handleClose() {
                this.addTypeDia = false
                this.typeInp = ''
            },
            handleAvatarSuccess(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw)
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg'
                const isLt2M = file.size / 1024 / 1024 < 2

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!')
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!')
                }
                return isJPG && isLt2M
            },
        },
    })
</script>
</html>