<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <title>我的团队</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./styles/layout.css">
    <link rel="stylesheet" href="./element-ui/index.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="container flex-row">
        <div>
            <left-menu active-menu="3-1" :default-menu="defaultMenu" :is-collapse="isCollapse"/>
        </div>
        <div class="content" :class="{closeMenu:isCollapse}">
            <div>
                <top-menu :is-collapse="isCollapse" :default-avatar="defaultAvatar" @change-collapse="changeCollapse"/>
            </div>
            <div class="main-content">
                <div class="table-wrap">
                    <div class="table-top flex-row flex-center flex-start flex-s-b">
                        <div class="left flex-row flex-center flex-start flex-no-wrap">
                            <div class="flex-row flex-center flex-start flex-no-wrap">
                                <el-select style="width: 120px" size="small" v-model="shopType" placeholder="所属等级"
                                           clearable>
                                    <el-option
                                            v-for="item in options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                                <el-input style="width: 120px;margin: 0 10px" size="small" v-model="shopName"
                                          placeholder="代理商名称"/>
                            </div>
                            <el-button>刷新</el-button>
                            <el-button>按默认排序</el-button>
                            <el-button>按商户数</el-button>
                            <el-button>按AI使用总数</el-button>
                            <el-button>按团队人数</el-button>
                        </div>
                        <div class="right flex-row flex-center flex-start">
                            <el-button type="primary">
                                <el-link :underline="false">+ 添加代理</el-link>
                            </el-button>
                        </div>
                    </div>
                    <div class="table-content">
                        <el-table :data="tableData">
                            <el-table-column prop="date" label="ID">
                            </el-table-column>
                            <el-table-column prop="name" label="代理商名称">
                            </el-table-column>
                            <el-table-column prop="phone" label="手机号">
                            </el-table-column>
                            <el-table-column prop="count" label="团队人数">
                            </el-table-column>
                            <el-table-column prop="aiCount" label="商户数量">
                            </el-table-column>
                            <el-table-column prop="phone" label="点数余额">
                            </el-table-column>
                            <el-table-column prop="phone" label="佣金"></el-table-column>
                            <el-table-column prop="phone" label="AI剪辑余额"></el-table-column>
                            <el-table-column prop="phone" label="总播放次数"></el-table-column>
                            <el-table-column label="状态">
                                <template slot-scope="scope">
                                    <el-switch v-model="scope.row.status"/>
                                </template>
                            </el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope">
                                    <div class="flex-row flex-center flex-start flex-no-wrap">
                                        <el-dropdown type="primary" size="small"
                                                     @command="(command)=>{clickMenu(command,scope.row)}">
                                            <el-button type="primary" size="small">
                                                更多<i class="el-icon-arrow-down el-icon--right"></i>
                                            </el-button>
                                            <el-dropdown-menu slot="dropdown">
                                                <el-dropdown-item>商户详情</el-dropdown-item>
                                                <el-dropdown-item>
                                                    <el-link :underline="false" href="teamDataBlank.html"
                                                             style="font-size:12px;">大数据
                                                    </el-link>
                                                </el-dropdown-item>
                                                <el-dropdown-item command="addAI">充值AI</el-dropdown-item>
                                                <el-dropdown-item command="addCount">充值点数</el-dropdown-item>
                                                <el-dropdown-item>重置默认密码</el-dropdown-item>
                                                <el-dropdown-item>编辑资料</el-dropdown-item>
                                                <el-dropdown-item>独立开放平台配置</el-dropdown-item>
                                                <el-dropdown-item>删除</el-dropdown-item>
                                            </el-dropdown-menu>
                                        </el-dropdown>
                                    </div>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                                class="text-center"
                                style="margin: 20px auto"
                                background
                                layout="prev, pager, next"
                                :total="1000">
                        </el-pagination>
                    </div>
                </div>
                <page-info :is-collapse="isCollapse"/>
            </div>
        </div>
        <el-dialog title="权限设置" class="permisson-dia" :visible.sync="permissonDia" width="30%"
                   :before-close="handleClose">
            <el-checkbox-group v-model="permissonList" class="permisson-wrap">
                <el-checkbox label="分组"></el-checkbox>
                <el-checkbox label="点数余额"></el-checkbox>
                <el-checkbox label="AI剪辑余额"></el-checkbox>
                <el-checkbox label="总播放次数"></el-checkbox>
                <el-checkbox label="核销人员"></el-checkbox>
                <el-checkbox label="时间"></el-checkbox>
                <el-checkbox label="LOGO"></el-checkbox>
                <el-checkbox label="地址"></el-checkbox>
                <el-checkbox label="已使用点数"></el-checkbox>
                <el-checkbox label="已使用AI剪辑数"></el-checkbox>
                <el-checkbox label="时间"></el-checkbox>
                <el-checkbox label="备注"></el-checkbox>
            </el-checkbox-group>
            <div class="button-wrap">
                <el-button size="small" @click="permissonDia = false">取 消</el-button>
                <el-button size="small" type="primary" @click="permissonDia = false">确 定</el-button>
            </div>
        </el-dialog>
        <el-dialog title="充值点数" class="permisson-dia" :visible.sync="countDia" width="30%"
                   :before-close="handleCloseCount">
            <div class="list-title">充值商家名称：<span>{{ chooseShop.name }}</span></div>
            <div class="list-title">您的点数余额：<span>{{ chooseShop.count }}</span></div>
            <div class="list-title">本次充值点数：
                <el-input type="number" v-model="countInp" size="small" style="width: 100px"></el-input>
            </div>
            <div class="list-title">单次充值为10的整数倍</div>
            <div class="button-wrap">
                <el-button size="small" @click="countDia = false">取 消</el-button>
                <el-button size="small" type="primary" @click="countDia = false">充值点数</el-button>
            </div>
        </el-dialog>
        <el-dialog title="充值AI点数" class="permisson-dia" :visible.sync="AiDia" width="30%"
                   :before-close="handleCloseAi">
            <div class="list-title">充值商家名称：<span>{{ chooseShop.name }}</span></div>
            <div class="list-title">您的AI余额：<span>{{ chooseShop.aiCount }}</span></div>
            <div class="list-title">本次充值点数：
                <el-input type="number" v-model="aiInp" size="small" style="width: 100px"></el-input>
            </div>
            <div class="list-title">单次充值为100的整数倍</div>
            <div class="button-wrap">
                <el-button size="small" @click="AiDia = false">取 消</el-button>
                <el-button size="small" type="primary" @click="AiDia = false">充值点数</el-button>
            </div>
        </el-dialog>
        <el-dialog title="商家抖音/快手/视频号" class="permisson-dia" :visible.sync="platTypeDia"
                   :before-close="handleClosePlat">
            <el-radio-group v-model="platType" style="margin-bottom: 20px;">
                <el-radio-button label="抖音"></el-radio-button>
                <el-radio-button label="快手"></el-radio-button>
                <el-radio-button label="视频号"></el-radio-button>
            </el-radio-group>
            <el-form inline label-width="120px" label-position="right">
                <el-form-item :label="platType+'主页链接:'">
                    <el-input size="small" v-model="form.a" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item :label="(platType)+'商户名称:'">
                    <el-input size="small" v-model="form.b" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item :label="(platType)+'联系地址:'">
                    <el-input size="small" v-model="form.c" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item :label="(platType)+'商户身份:'">
                    <el-input size="small" v-model="form.d" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item :label="(platType)+'商户位置:'">
                    <el-input size="small" v-model="form.f" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="推送视频时机:">
                    <el-radio-group v-model="form.e" style="width:300px">
                        <el-radio :label="1">弹窗确定推送</el-radio>
                        <el-radio :label="2">领取奖品推送</el-radio>
                    </el-radio-group>
                </el-form-item>
            </el-form>
            <div class="button-wrap">
                <el-button size="small" @click="platTypeDia = false">下一项</el-button>
                <el-button size="small" type="primary" @click="platTypeDia = false">保存</el-button>
            </div>
        </el-dialog>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./common/static.js" type="text/javascript"></script>
<script src="./components/openPlat.js"></script>
<script src="./components/leftMenu.js"></script>
<script src="./components/topMenu.js"></script>
<script src="./components/pageInfo.js"></script>
<script type="module">
    new Vue({
        el: '#app',
        data: vm => ({
            isCollapse: false,
            defaultMenu: defaultMenu,
            defaultAvatar: defaultAvatar,
            shopType: '',
            options: [
                {
                    value: '选项1',
                    label: '黄金糕',
                },
            ],
            shopName: '',
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                phone: '13111112222',
                count: 11,
                status: true,
                aiCount: 1000,
                ai: true,
                shop: true,
                activity: true,
                card: true,
                gift: true,
                disableShop: true,
            }],
            permissonDia: false,
            permissonList: [],
            countDia: false,
            countInp: '',
            chooseShop: {},
            AiDia: false,
            aiInp: '',
            platTypeDia: false,
            platType: '抖音',
            form: {},
        }),
        created() {
            this.isCollapse = document.body.clientWidth <= 1200
            window.addEventListener('resize', () => {
                this.isCollapse = document.body.clientWidth <= 1200
            })
        },
        methods: {
            nextStep() {
                console.log(this.$refs.plat1.form)
                console.log(this.$refs.plat2.form)
            },
            changeCollapse(isCollapse) {
                this.isCollapse = isCollapse
            },
            handleClose() {
                this.permissonDia = false
            },
            handleCloseCount() {
                this.chooseShop = {}
                this.countInp = ''
                this.countDia = false
            },
            handleCloseAi() {
                this.chooseShop = {}
                this.aiInp = ''
                this.AiDia = false
            },
            handleClosePlat() {
                this.platTypeDia = false
            },
            clickMenu(val, item) {
                this.chooseShop = item
                console.log(val)
                switch (val) {
                    case 'addAI':
                        this.AiDia = true
                        break
                    case 'addCount':
                        this.countDia = true
                        break
                    case 'platType':
                        this.platTypeDia = true
                        break
                }
            },
        },
    })
</script>
</html>