@import "reset.css";

[v-cloak] {
    display: none !important;
}

.max-width-900 {
    max-width: 900px;
}

.blue {
    color: #3f8cff;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
    align-content: center;
}

.flex-start {
    align-content: start;
}

.flex-top {
    align-items: start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex-s-b {
    justify-content: space-between;
}

.flex-s-a {
    justify-content: space-around;
}

.font-weight {
    font-weight: 600;
    font-size: 18px;
}

.pointer {
    cursor: pointer;
}

.container .left-menu {
    transition: .4s;
    width: 260px;
    height: 100%;
    border-right: solid 1px #e6e6e6;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    background-color: #fff;
}

.container .left-menu.closeMenu {
    width: 64px;
}

.container .left-menu .logo-wrap {
    padding: 13px 0;
    text-align: center;
}

.container .left-menu .logo-wrap img {
    transition: .4s;
    width: 177px;
    height: 42px;
    vertical-align: middle;
}

.container .left-menu.closeMenu .logo-wrap img {
    transition: .4s;
    width: 44px;
    height: 42px;
    object-fit: scale-down;
}

.el-menu-vertical-demo {
    border-right: none;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 260px;
    height: calc(100% - 68px);
}

.el-menu .el-menu-item .el-link {
    display: block;
    height: 100%;
}

.container .el-dropdown-item .el-link {
    font-size: 12px;
    display: block;
}

.el-menu .el-menu-item.is-active a {
    color: #3c8fcc;
}

.container .content {
    flex: 1;
    background-color: #f9fafc;
    padding-left: 260px;
    transition: .4s;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.container .content.closeMenu {
    padding-left: 64px;
}

.container .content .top-menu {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 68px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 20px 0 280px;
    font-size: 24px;
    background-color: #f9fafc;
    z-index: 10;
    transition: .4s;
}

.container .content .top-menu.closeMenu,
.container .content .main-content .page-info.closeMenu {
    padding-left: 84px;
}

.container .content .top-menu .user-wrap {
    margin: 0 20px;
}

.container .content .top-menu .user-wrap .user-name {
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}

.container .content .top-menu .logout-wrap {
    font-size: 25px;
    margin-left: 10px;
}

.container .content .main-content {
    padding: 88px 20px 110px;
}

.container .content .main-content .form-wrap {
    width: 450px;
    text-align: center;
}

.container .content .main-content .form-wrap .open-plat-title {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.container .content .main-content .button-wrap {
    padding-top: 40px;
    text-align: center;
    margin: 0 auto;
}

.content .plat-type-wrap {
    width: 450px;
    text-align: center;
    padding: 20px 0;
}

.container .main-content .url-wrap {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.container .main-content .switch-wrap {
    margin-top: 20px;
}

.container .main-content .switch-wrap .switch-list {
    margin-right: 20px;
}

.container .main-content .switch-wrap .switch-list .el-switch {
    margin-left: 10px;
}

.container .main-content .page-info {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    padding: 10px 20px 10px 280px;
    z-index: 10;
    background-color: #fff;
    left: 0;
    bottom: 0;
    box-shadow: 0 -2px 6px 0 #CECECE;
    transition: .4s;
}

.container .main-content .page-info .info-content {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    text-indent: 20px;
}

.main-content .table-wrap .table-content {
    padding: 20px 0;
}

.table-wrap .table-top .right .grid {
    color: #3c8fcc;
    font-size: 36px;
    margin-left: 10px;
}

.container .el-button .el-link {
    color: #fff !important;
    font-size: 12px;
}

.permisson-dia .permisson-wrap .el-checkbox {
    display: block;
    padding: 10px 0;
}

.el-dialog .button-wrap {
    text-align: right;
    margin-top: 10px;
}

.el-dialog .list-title {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

.main-content .table-content .add-shop-form {
    max-width: 900px;
    margin: 0 auto;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 100px;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 150px;
    height: 150px;
    line-height: 150px !important;
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
    display: block;
}

.container .data-blank-title {
    margin: 20px 0;
}

.container .data-block-wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.container .data-block-wrap .data-block-list {
    box-sizing: border-box;
    width: 240px;
    height: 120px;
    border-radius: 2px;
    color: #fff;
    padding: 15px;
}

.container .team-data-block-wrap .data-block-list {
    width: 33%;
}

.container .data-block-wrap .data-block-list:nth-child(1) {
    background: linear-gradient(180deg, #2CABF8 0%, #4087FF 100%);
    box-shadow: 0 6px 6px 0 #CECECE;
}

.container .data-block-wrap .data-block-list:nth-child(2) {
    background: linear-gradient(180deg, #88C6FE 0%, #23C1D9 100%);
    box-shadow: 0 6px 6px 0 rgba(206, 206, 206, 0.6);
}

.container .data-block-wrap .data-block-list:nth-child(3) {
    background: linear-gradient(180deg, #F6DA6A 0%, #EFC10C 100%);
    box-shadow: 0 6px 6px 0 rgba(206, 206, 206, 0.6);
}

.container .data-block-wrap .data-block-list:nth-child(4) {
    background: linear-gradient(180deg, #FF8CAB 0%, #FF7BA2 100%);
    box-shadow: 0 6px 6px 0 rgba(206, 206, 206, 0.6);
}

.container .data-block-list .number-title {
    font-size: 14px;
    margin-bottom: 14px;
}

.container .data-block-list .number-content {
    font-size: 24px;
    margin-bottom: 20px;
}

.container .echart-wrap {
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 auto;
}

.container .echart-wrap .echartC {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 300px;
}

.container .echart-wrap .echartD {
    width: 600px;
    height: 300px;
}

